/* shared styles */

*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
  cursor: pointer;

}
body {
  background-color: #00718821;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.nav {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url('amazon_logo.png');
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.nav-adddress {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.address {
  font-size: 0.85rem;
  color: #cccccc;
}

.address-header {
  color: rgb(182, 145, 145);
  font-size: 1rem;
}


.nav-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  border-radius: 4px;
}

.select {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
  height: 38px;
 
  
}

.search {
  height: 36px;
  border: none;
  font-size: 1.2rem;
  flex: 1;
}

.search-icon {
  text-align: center;
  height: 38px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 45px ;
  margin-left: -2px;
}

span {
  font-size: 0.7rem;
}

.nav-signin {
  font-size: 0.85rem;
  font-weight: 700;
  text-align: center;
}

.nav-search:hover {
  border: 2px solid orange;
}


.nav-cart i {
  font-size: 1.6rem;
  margin-right: 2px;
}
.nav-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px ;
  width: 80px;

}

.container {
  background-color: #5e6969;
  display: flex;
  column-gap: 20px;
  height: 40px;
  width: 100%;

}

.nav2 {
  display: flex;
  width: 58;
  height: 39;
  column-gap: 8px;
  align-items: center;
  padding-left: 20px;

}
.nav2 a {
  text-decoration: none;
  color: #0f1111;
}

.maximum {
  display: flex;
  flex: 1;
  column-gap: 30px;
  align-items: center;
}

/* background section */

.hero-section{
  background-image: url('hero_image.jpg');
  background-size: cover;
  height:300px ;
  width: 100%;
  margin: 0 auto;

}

.hero-message {
  display: flex;
  
  color: black;
  height: 40px;
  align-items: center;
  column-gap: 30px;
  font-size: 0.85rem;
  justify-content: center;
  position: relative;
  top: 250px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.hero-message a {
  color: #007188;
}

/* shop section */

.box {
  height: 350px;
  width: 22%;
  background-color: white;
  padding: 20px 0 18px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
 

}

.shop-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
  
}

.box-img {
  height:270px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 8px;
  
}

.shop-section .img {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* footer styles */

.back-to-top {
  height: 50px;
  width: 100%;
  background-color: #007188;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top:hover {
  background-color: #17292c8a;
}

.footer {
  height: 500px;
  width: 100%;
  background-color: #00718857 ;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(168, 161, 161, 0.363);
}

.footer .header li {
  list-style: none;
}

.footer .header ul li a {
  text-decoration: none;
}

.footer .header {
  display: flex;
 align-items: center;
 column-gap: 60px;
}

hr { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  border-color: #0f1111;
}

.nav-footer {
  height: 70px;
  background-color: #00718857 ;
  margin:0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

.logo {
  width: 100px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



